html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
ul {
	list-style: none;
}
button,
input,
select,
textarea {
	margin: 0;
}
html {
	box-sizing: border-box;
	height: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img,
video {
	height: auto;
	max-width: 100%;
}
iframe {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
td:not([align]),
th:not([align]) {
	text-align: left;
}

body {
	height: 100%;
	font-size: 1rem;
	line-height: 1.55;
	background-color: #ecf0f1;
	color: #2c3e50;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
	text-align: center;
	padding: 2rem 0;
	font-size: 2rem;
	font-weight: 300;
}

.title small {
	font-size: 1.125rem;
	color: #718096;
}
